<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">@copy: Wanderlust Privated Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

<!-- <footer class="bg-dark text-white py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center mb-2 mb-md-0">
                <div class="f-info-socials">
                    <i class="fa-brands fa-square-facebook mx-2"></i>
                    <i class="fa-brands fa-square-instagram mx-2"></i>
                    <i class="fa-brands fa-linkedin mx-2"></i>
                </div>
            </div>
            <div class="col-md-4 text-center mb-2 mb-md-0">
                <div class="f-info-brand">
                    &copy; Wanderlust Private Limited
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="f-info-links">
                    <a href="/privacy" class="text-white me-3">Privacy</a>
                    <a href="/terms" class="text-white">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer> -->